<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Sofia and HR .NET sesh</h1>
    <p>Sofia and HR met up on a @Model.DayOfWeek to work on practicing .NET. Epicodus is @Model.Adjective1 but it can also be Adjective2. So glad we have school friends to practice with. We are so Adjective3 to learn together. </p>
  </body>
</html>