<h1>Sofia and HR .NET sesh</h1>
<p>Sofia and HR met up on a @Model.DayOfWeek to work on practicing .NET. Epicodus is @Model.Adjective1 but it can also be Adjective2. So glad we have school friends to practice with. We are so Adjective3 to learn together. </p>